.header {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

    &.scrolled {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

        .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        .logo {
            color: #FFF;
            text-decoration: none;

            & img {
                width:100%;
            }
        }

        .navList {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;

            .nav-link {
                text-decoration: none;
                font-weight: 500;
                font-size: 1.2rem;
            }
        }

        .loggedItemList {
            display: flex;
            gap: 1rem;
            list-style: none;        }
    }
}
